/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

h1 {
  padding: 0;
  margin: 0;
}

h3 {
  padding: 0;
  margin: 0;
  color: black;
}

p {
  color: black;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.timerStartButton {
  display: block;
  background-color: green;
  color: white;
  padding: 14px 16px;
  font-size: 19px;
  width: 25%;
}

.timerEndButton {
  display: block;
  background-color: red;
  color: white;
  padding: 14px 16px;
  font-size: 19px;
  width: 25%;
}

.hometitle {
  color: red;
  font-size: 100px;
}

.timerStartButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.timerEndButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: white;}
#News {background-color: white;}
#Contact {background-color: white;}
#About {background-color: white;}
