<!DOCTYPE html>
<html>
<head>
  <title> HackPrinceton2019 Project </title>
  <link rel="stylesheet" href="static/website.css">
  <script src="static/app.js"></script>
  <script src="static/main.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
  <button class="tablink" onclick="openPage('Home', this, 'gray')"
  id="defaultOpen">Home</button>
  <button class="tablink" onclick="openPage('News', this, 'gray')">Pace Analysis</button>
  <button class="tablink" onclick="openPage('Contact', this, 'gray')">Tone Analysis</button>
  <button class="tablink" onclick="openPage('About', this, 'gray')">Sentiment Analysis</button>

  <div id="Home" class="tabcontent">
    <h3 class="hometitle">Insert Name Here</h3>
    <p>This application is designed to display real-time results for your
    speech</p>
    <button class="timerStartButton" onclick="beginTesting()">
      Click button to begin recording</button>
    <button class="timerEndButton" onclick="endTesting()">
      Click button to end recording</button>
    <p id="timer"></p>
  </div>

  <div id="News" class="tabcontent">
    <h3>Pace Analysis</h3>
    <p>Results displaying the pace during the speech</p>
  </div>

  <div id="Contact" class="tabcontent">
    <h3>Tone Analysis</h3>
    <p>Results displaying the tone of your speech</p>
  </div>

  <div id="About" class="tabcontent">
    <h3>Sentiment Analysis</h3>
    <p>Results displaying the sentiment of your speech</p>
  </div>

</body>
</html>
