<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="static/website.css">
  <title> cicero </title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/aileron" type="text/css"/>
</head>
<body>
    <div id="header">
      <a href="#main">
        <img src="static/ciceroLogo.png" class = "frontHeader" alt = "Logo">
      <a>
      <h1>Cicero</h1>
      <h3>Click the logo to record</h3>
      <!-- <button onclick="beginTesting()"></button> -->
    </div>

  <div id = "main">
    <div style="text-align:center;">
      <h2 id="timer" class = "timercontent">Time: 0h 0m 0s</h2>
    </div>

    <div id="chartContainer" style="display: inline block; height: 300px; width: 33%; float: right;"></div>
    <div id="chartContainer2" style="display: inline block; height: 300px; width: 33%; float: right;"></div>
    <div id="chartContainer3" style="display: inline block; height: 300px; width: 33%; float: right;"></div>
    
  </div>
  <div id="endbutton">
      <p>Stop</p>
  </div>
  <script>
  $(function () {
  $('a[href*="#"]:not([href="#"])').on("click", function () {
  var target = $(this.hash);
  if (target.length) {
  $("html, body").animate({
    scrollTop: target.offset().top
  },
  1000);}
});
});
</script>
    <script src="static/app.js"></script>
    <script src="static/main.js"></script>
</body>
</html>
